@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
   
}
h2{
   font-size: 3rem;
   line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
} 
/* navagation bar */
.navbar{
    padding-bottom:3.5rem;
}


.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;

}
.nav-item{
    padding:0 18px 0 18px ;
}
.download-btn{
    margin: 5% 3% 5% 0;
}
/* title image */
.title-img{
    width: 60%;
    transform:rotate(25deg);
    position:relative;
    top:200px;
    
    
}
#features{
    text-align: center;
    padding: 7% 15%;
    position: relative;
    background-color: white;
    
}
.features-icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color:#ff4c68;
}
/* testimonial section */
#testimonials{
    
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}
.testimonial-img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    text-align: center;
    background-color:#ef8172;
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
#cta{
    text-align: center;
    background-color: #ff4c68;

}
.cta-font{
    padding-top: 60px;
    color: white;
    font-size: 2rem;
}
#footer{
    text-align: center;
    background-color: white;
}
.footer-icon{
    margin: 50px;
}